process{
    withName:ENSEMBLVEP_VEP{
        beforeScript = "/scratch/data/nextflow-cost-optimization/.pixi/envs/mount/bin/mount-s3 --endpoint-url http://localhost:9000 --region us-east-1 --force-path-style io-benchmark ./mnt/vep_cache --read-only"
        """
    }
}
docker.runOptions='-v /etc/passwd:/etc/passwd:ro -v /etc/group:/etc/group:ro --device /dev/fuse -u $(id -u):$(id -g) -v $  --cap-add SYS_ADMIN '