docker.runOptions='-v /etc/passwd:/etc/passwd:ro -v /etc/group:/etc/group:ro --device /dev/fuse --cap-add SYS_ADMIN -u $(id -u):$(id -g) '
process{
    withName:ENSEMBLVEP_VEP{
        beforeScript = """
        mkdir -p vep_cache_tmp && cat /scratch/data/nextflow-cost-optimization/mnt/vep_cache/vep_cache.tar | tar -xvf - -C vep_cache_tmp
        (
        while [ ! -f vep_cache ]; do
            sleep 1
        done

        rm -rf vep_cache
        mv vep_cache_tmp vep_cache
        ) & 
        """
    }
}