process{
    withName:ENSEMBLVEP_VEP{
        beforeScript = """
        mkdir -p vep_cache_tmp  && aws s3 cp s3://io-benchmark/vep_cache.tar - --endpoint-url http://localhost:9000 | tar -xvf - -C vep_cache_tmp
        (
        while [ ! -f vep_cache ]; do
            sleep 1
        done

        rm -rf vep_cache
        mv vep_cache_tmp vep_cache
        ) & 
        """
    }
}