profiles {
    test {
        params.input = "inputs/1_samplesheet.csv"
    }
    test_full {
        params.input = "inputs/full_samplsheet.csv"
    }
}

docker.enabled = true
docker.registry = 'quay.io'

process{
    withName:FASTQC_1{
        cpus = 8
        memory = 16.GB
    }
    withName:FASTQC_2{
        cpus = 16
        memory = 32.GB
    }
    withName:FASTQC_3{
        cpus = 32
        memory = 64.GB
    }
}