params{
    outdir = "result"
    trace_report_suffix = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
    input = "inputs/full_samplsheet.csv"
}

report.overwrite = true
docker.enabled = true
docker.registry = 'quay.io'

process{
    withName:FASTQC_1{
        cpus = 2
        memory = 4.GB
    }
    withName:FASTQC_2{
        cpus = 4
        memory = 8.GB
    }
    withName:FASTQC_3{
        cpus = 8
        memory = 16 .GB
    }
    withName:FASTP_1{
        cpus = 2
        memory = 4.GB
    }
    withName:FASTP_2{
        cpus = 4
        memory = 8.GB
    }
    withName:FASTP_3{
        cpus = 8
        memory = 16 .GB
    }
}

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}