aws {
    client {
        accessKey = 'test'
        secretKey = 'test'
        region = 'us-east-1'
        endpoint = "http://localhost:4566"
        s3PathStyleAccess = true
    }
}

process{
    withName:COUNT_FILES_TAR{
        beforeScript = "mkdir -p tarball && aws s3 cp s3://io-benchmark/tarball.tar - --endpoint-url http://localhost:4566 | tar -xvf - -C tarball"
    }
}